.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
    align-items: start;
    margin-top: 150px;
  }
}

.identityForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 480px;
  padding: 10px;
}

.identityForm_title {
  font-size: 32px;
  font-weight: 600;
  line-height: 39.01px;
  text-align: center;
}

.identityForm_spacer {
  width: 100%;
  height: 1px;
  opacity: 0.1;
  background-color: #00BE9C;
}

.identityForm_description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.identityForm_register {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
}

.identityForm_registerbtn {
  font-weight: 700;
  cursor: pointer;
}

.identityForm_registerbtn:hover {
  text-decoration: underline;
}